@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #273036;
    font-family: Montserrat, sans-serif;
}

/* Всё что связано с текстом */
a,
p {
    text-decoration: none;
    color: #273036;
}

h3,
h4,
    {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
}

h1 {
    color: black;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 13px;
    color: #273036;
}

p {
    font-size: 16px;
    line-height: 21px;
}

/* Всё что связано с текстом */


/* Навыки */
.skills {
    background-color: transparent;
    text-align: left;
    padding: 15px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #273036;;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

/* Навыки */


/* Карточка */
.card {
    background: white;
    height: 450px;
    width: 450px;
    border-radius: 20px;
}

.content {
    padding: 0 15px 0 25px;
    color: #273036;
}

.up {
    display: flex;
    justify-content: space-between;
}

.photo {
    max-width: 150px;
    border: solid white;
    border-radius: 20px;
    margin-top: -50px;
}
