@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color white;
    font-family: Montserrat, sans-serif;
}

/* Всё что связано с текстом */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: gray;
}

.social {
    color: white;
}

h3,
h4,
    {
    font-size: 20px;
    line-height: 20px;
    padding-top: 0px;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
    font-size: 13px;
}

p {
    font-size: 16px;
    line-height: 21px;
}

/* Всё что связано с текстом */


/* Навыки */
.skills {
    background-color: black;
    opacity: 0.33;
    text-align: left;
    padding: 15px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #ffffff;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

/* Навыки */


/* Карточка */
.card {
    background: #273036;
    height: 450px;
    width: 450px;
    border-radius: 20px;
}

.content {
    padding: 0 15px 0 25px;
    color: white;
}

.up {
    display: flex;
    justify-content: space-between;
}

.photo {
    max-width: 150px;
    border: 20px solid white;
    border-radius: 20px;
    border-image: url("ava2.png");
    margin-top: -50px;
}

.badge{
    max-width: 30px;
}

.badge2{
    max-width: 23px;
}
